@import './variables.less';

.cursor-pointer {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-width: @base-page-width;
  box-sizing: border-box;
  color: #333;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;

  font-size: 14px;
  font-size: @base-font-size;
  font-family:"微软雅黑";
  color: #333333;
}

a {
  text-decoration: none;
  color: @base-black;
}

input {
  border: none; //去除边框
  outline: none; //可以去除点击input时的border
}

@keyframes scaleBig {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

// swiper5张背景图的动画
.animate-img {
  animation: scaleBig 3s linear 1s forwards;
}

.placeholder{
  color: @base-placeholder-color;
}


.divide-line{
  height: 1px;
  width: 100%;
  background-color: @base-divide-color;
}

.underline {
  background: linear-gradient(to right, #71d071, #bb3333) no-repeat right bottom;
  background-size: 0px 3px;
  transition: background-size 1s;

  &:hover {
    background-position-x: left;
    background-size: 100% 3px;
  }
}

.csg-link{
  cursor: pointer;
  color:@base-color;
}